{
  "presets": ["es2015"],
  "plugins": [
    ["transform-react-jsx", {
      "pragma": "rx.rxt.createElement"
    }],
    ["transform-es2015-modules-umd", {
      "globals": {
        "bobtail": "rx",
        "bobtail-rx": "rx",
        "underscore": "_",
        "jquery": "$"
      },
      "exactGlobals": true
    }]
  ],
  "moduleId": "bobtail"
}
