doctype html
html
  head
    title React Tutorial in Reactive Coffee
    link(rel='stylesheet', type='text/css', href='base.css')
  body
    #container
    script(type='text/javascript', src='bower_components/jquery/dist/jquery.js')
    script(type='text/javascript', src='bower_components/underscore/underscore.js')
    script(type='text/javascript', src='bower_components/reactive-coffee/dist/reactive-coffee.min.js')
    script(type='text/javascript', src='bower_components/showdown/src/showdown.js')
    script(type='text/javascript', src='main.js', charset='utf-8')
