doctype 5
html
  head
    title React Tutorial in Reactive Coffee
    link(rel='stylesheet', type='text/css', href='base.css')
  body
    #container
    script(type='text/javascript', src='components/jquery/jquery.js')
    script(type='text/javascript', src='components/underscore/underscore.js')
    //script(type='text/javascript', src='components/reactive-coffee/dist/reactive-coffee.js')
    script(type='text/javascript', src='../../dist/reactive-coffee.js')
    script(type='text/javascript', src='components/showdown/src/showdown.js')
    script(type='text/javascript', src='main.js', charset='utf-8')
